<template>
  <div id="app">
    <Main
      :info="info"
      :listOfIntitalRoutes="listOfIntitalRoutes"
      :listOfEndRoutes="listOfEndRoutes"
    />
  </div>
</template>

<script>
import Main from "./Main.vue";

export default {
  components: { Main },
  data() {
    return {
      info: [],
      listOfIntitalRoutes: [],
      listOfEndRoutes: []
    };
  },

  methods: {
    deleteDuplicates(arr) {
      for (let i = 0; i < arr.length; i++) {
        if (this.listOfIntitalRoutes.indexOf(arr[i].from) === -1) {
          this.listOfIntitalRoutes.push(arr[i].from);
        }

        if (this.listOfEndRoutes.indexOf(arr[i].to) === -1) {
          this.listOfEndRoutes.push(arr[i].to);
        }
      }
    }
  },

  mounted() {
    fetch("http://apis.is/rides/samferda-drivers/")
      .then(res => res.json())
      .then(information => {
        this.info = information.results;
        this.deleteDuplicates(this.info);
      })
      .catch(err => console.log(err));
  }
};
</script>
