<template>
  <div>
    <h2>Route</h2>
    <p><strong>Time:</strong> {{ data.time }}</p>
    <p><strong>Date:</strong> {{ data.date }}</p>
    <p><strong>From:</strong> {{ data.from }}</p>
    <p><strong>To:</strong> {{ data.to }}</p>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>
