<template>
  <main>
    <h2>Choose your destination</h2>

    <div class="routes-from">
      <span>FROM:</span>
      <select v-model="fromDestinationName">
        <option
          v-for="(data, idx) in listOfIntitalRoutes"
          :value="data"
          :key="idx"
          >{{ data }}</option
        >
      </select>
    </div>

    <div class="routes-to">
      <span>TO:</span>
      <select v-model="toDestinationName">
        <option
          v-for="(data, idx) in listOfEndRoutes"
          :value="data"
          :key="idx"
          >{{ data }}</option
        >
      </select>
    </div>

    <!-- shows all routes -->
    <div v-if="toDestinationName === '' && fromDestinationName === ''">
      <BusRoute v-for="(data, idx) in info" :key="idx" :data="data" />
    </div>

    <!-- shows filtered routes -->
    <div v-else>
      <BusRoute
        v-for="(data, idx) in filterDestination"
        :key="idx"
        :data="data"
      />
    </div>

    <h3>{{ message }}</h3>
  </main>
</template>

<script>
import BusRoute from "./BusRoute.vue";

export default {
  props: {
    info: Array,
    listOfIntitalRoutes: Array,
    listOfEndRoutes: Array
  },

  data() {
    return {
      fromDestinationName: "",
      toDestinationName: "",
      message: ""
    };
  },
  computed: {
    filterDestination: function() {
      var filteredFrom = this.info.filter(
        route => route.from === this.fromDestinationName
      );

      if (this.toDestinationName.length === 0) {
        return filteredFrom;
      } else {
        var filteredTo = filteredFrom.filter(
          route => route.to === this.toDestinationName
        );
        if (filteredTo.length === 0) {
          this.message = "Not found";
        } else {
          this.message = "";
          return filteredTo;
        }
      }
    }
  },

  components: {
    BusRoute
  }
};
</script>

<style lang="scss">
.routes {
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  &-from {
    margin-bottom: 20px;
  }
}
</style>
